@use "variables";

.top-header {
  padding: 0rem 1.5rem;
  background: variables.$top-bar-color;
  border-bottom: #1a9a96 .2rem solid;

  .logo-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: inherit;

    img {
      width: 8em;
      height: 6em;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      img {
        width: 5em;
        height: 4em;
      }
    }

    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}
