@use "variables";

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
  background: variables.$top-bar-color;

  .logo-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: inherit;

    img {
      width: 9em;
      height: 6em;
      object-fit: cover;
    }

    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .main-nav {
    display: flex;
    gap: 1.5rem;
  }
}
