/* =======================================================
   Colores
   ======================================================= */
$primary-color: #FFF1C0;      // Crema - fondo
$secondary-color: #F87823;    // Naranjo - acentos
$accent-color: #18AA91;       // Turquesa - botones
$tertiary-color: #E5646D;     // Coral - sin uso por ahora

$highlight-color: #FAD64A;    // decoraciones / contrastes

$formbg: #FCFCFC;    // fondo form
$cardbg: #F7F7F7;    // cards / pasos form
